extends index

block breadcrumbs
	ul.breadcrumb
		li.active Problems

block pageContent
	h3 Welcome, User #{userID}!
	table.table.table-striped
		thead
			tr
				th Problem Name
				th Date Created					
		tbody
			each problem in problems
				tr
					td
						a(href="/problem?problemID=#{problem.problemID}") #{problem.problemName}
					td #{problem.dateCreated}
	a.btn.btn-large.btn-primary(href='/newProblem', role='button', data-toggle='modal', data-target='#newProblem') #{problems.length == 0 ? 'Get Started' : 'New Problem'}
	- modalID = 'newProblem'; modalTitle = 'New Problem';
	include modal